@use "../utils/media";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: var(--color-bg);
  background-color: var(--color-label);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  font-variant-caps: all-small-caps;
  text-decoration: none;
  padding: 12px 24px;

  @include media.below(sm) {
    font-size: 0.875rem;
    padding: 10px 20px;
  }
}
