@use "../utils/media";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

figcaption {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-secondary-label);
}

figcaption,
.readable-width {
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
